.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 8px;
  margin-bottom: 10px;
}

.button {
  width: 4rem;
  height: 4rem;
  margin: 0.3em;
  border-radius: 50%;
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(69, 69, 69);
  color: white;
  border: 1px solid rgb(231, 197, 134);
}
